.search-box {
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
    border-radius: 25px;
    border: 0.5px solid rgb(182, 182, 182);
}

.icon {
    margin-left: 5px;
    margin-top: 2px;
    position: absolute;
    color: rgb(87, 87, 87);
}