<!-- <div class="d-flex justify-content-between mt-5">
    <h5 class="mb-3">New Releases</h5>
    <a href="" class="font-weight-bold">SEE ALL</a>
</div>
<div class="row ">
    <div class="col-lg-2" *ngFor="let item of newReleases, let i = index">
        <app-list-item [item]="item" *ngIf="i <= 5"></app-list-item>
    </div>
</div>
<div class="d-flex justify-content-between mt-5">
    <h5 class="mb-3">Recommandations</h5>
    <a href="" class="font-weight-bold">SEE ALL</a>
</div>
<div class="row ">
    <div class="col-lg-2" *ngFor="let item of recommandationsList, let i = index">
        <app-list-item [item]="item" *ngIf="i <= 5"></app-list-item>
    </div>
</div> -->

<div class="row mb-2 mt-5" *ngFor="let trackArray of allTracks, let i = index">
    <div class="row mb-3">
        <div class="col-lg-10">
            <h3>Top tracks from {{allTracks[0][0].artist}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 mb-2" *ngFor="let track of trackArray">
            <app-list-item [track]="track"></app-list-item>
        </div>
    </div>
</div>